/** -------------------------------------- UNIVERSAL -------------------------------------- **/
* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: auto;
    font-family: 'Poppins', sans-serif;
    /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
    background-color: #FFFAFF;
}

/** -------------------------------------- NAVBAR - styling -------------------------------------- **/
.sect-layout {
    max-width: 100%;
}
.sect-nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    border-bottom: 3px solid black;
    height: 6rem;
    /* background-color: #FCE4D8; */
    background-color: #293FD1;
}

.navbar {
    display: flex;
    padding: 0.3rem;
    margin-left: 2rem;
}

.title-heading {        /**TODO: correct the navbar components layout*/
    width: 15%;
    font-size: 3rem;
}
.home-link {
    text-decoration: none;
}
.ze {
    margin-right: 0.7rem;
    padding: 2px;
    border: 3px solid #CC001B;
    /* color: #F75590; */
    color: #CC001B;
}
.comm {
    color: white;
}
.title-heading h1 {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages-text-component {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.pg-txt-list {
    display: flex;
    list-style: none;
    font-size: 1.5rem;
    padding: 0 10px;
    width: 95%;

}
.pg-txt-list li {
    text-decoration: none;
    padding: 10px;
}
.pg-txt-link {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.search-bar {
    width: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}
.srch-bar-input {
    width: 100%;
    border: 0;
    padding: 0.2rem 0.2rem 0.2rem 1rem;
    font-size: 1.4rem;
    border-radius: 15px 0 0 15px;
    border: 2px solid black;
    border-right: 0;
}
.srch-btn {
    width: 4rem;
    height: 2.26rem;
    border-radius: 0 15px 15px 0;
    border: 2px solid black;
    background-color: #CC001B;
}
.srch-btn img {
    width: 1.5rem;
    height: 1.3rem;
}

.pages-icons-component {
    width: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.pages-icons-component span {
    width: 2em;
    padding: 1rem;
}


/** ------------------------------------------------ BODY ------------------------------------------------ **/
.sect_body {
    padding-top: 1rem;
    margin-top: 9rem;
    display: flex;
    flex-direction: column;

}

/** -------------------------------------- BANNER - styling -------------------------------------- **/
.sect-banner {
    padding: 0 4rem;

}
.banner {
    max-width: 100%;
    background-image: url(/Assests/images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: white;
}
.shop-now {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 3px solid;
    background: none;
}
.banner-btn {
    color: #CC001B;
    background:none;
    cursor: pointer;
}
.shop-now-link {
    text-decoration: none;
    color:#CC001B;
    font-size: 2.5rem;
    font-weight: bold;
    
}

/** -------------------------------------- SERVICES - styling -------------------------------------- **/
.banner-services {
    width: 100%;
    margin: 10rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.services {
    /* padding: 0.7rem; */
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    
}
.services-btn {
    outline: 2px solid black;
    padding: 0.7rem;
    background-color: #FDE12D;
    border-radius: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    color: black;
}
.services-btn .btn-2 {
    background-color: #293FD1;
}
.services-btn h1 {
    font-size: 2.5rem;
    
}
.services-btn-img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

/** -------------------------------------- CATEG - styling -------------------------------------- **/
.sect-categ {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.categ-container {
    padding: 5px;
    outline: 2px solid black;
    background-color: #FDE12D;
    border-radius: 20px;
}
.categ-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
.categ-link h6 {
    text-align: right;
    margin: 0.4rem 0.2rem;
    text-decoration: 2px underline;
}
.categ-link img {
    margin: 0.5rem 0;
    max-height: 18rem;
}
.categ-link h2 {
    text-align: center;
    margin: 0.5rem 0;
    border-top: 2px dotted;
}


/** -------------------------------------- OFFER - styling -------------------------------------- **/
.sect-offer {
    margin: 5rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.offer-container {
    width: 23%;
    position: relative;
    padding: 1rem;
    text-align: right;
    outline: 2px solid black;
    background-color: #FDE12D;
    border-radius: 15px;
}
.offer-container img {
    max-width: 80%;
    max-height: 90%;
    position: absolute;
    bottom: -50px;
    left: -90px;
}
.offer-txt {
    font-size: 1.5rem;
}
.offer-txt h6 {
    padding: 1rem 1rem 0 1rem;
}
.offer-txt h2 {
    padding: 1rem;
}
.offer-txt button {
    padding: 1rem;
}
.offer-btn {
    padding: 10px;
    border: 2px solid #CC001B;
    background: none;
    color: #CC001B;
}

/** -------------------------------------- SUBSCRIBE - styling -------------------------------------- **/
.sect-sub {
    margin: 3rem 0;
    padding: 5rem 0;
    /* background-color: #FCE4D8; */
    background-color: #293FD1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 40px;
    background-color: #FDE12D;
    border: 3px solid black;
    border-radius: 15px;
}
.sub-container h3 {
    padding-bottom: 1rem;
}
.sub-container h5 {
    padding-bottom: 1rem;
}
.sub-container .sub-input {
    padding: 1rem 0;
}
.sub-input {
    display: flex;
}
.sub-input-field {
    width: 600px;
    font-size: 1.2rem;
    padding: 0.2rem 2rem 0.2rem 1.5rem;
    border: 2px solid black;
    border-right: 0;
    text-indent: 2px;
    border-radius: 20px 0 0 20px;
}
.sub-btn {
    border: 0;
    border: 2px solid black;
    border-radius: 0 20px 20px 0;
    padding: 0.1rem 2rem;
    background-color: #CC001B;
    cursor: pointer;

}
.sub-btn img {
    width: 3rem;
    height: 3rem;
}

/** -------------------------------------- PARTNERS - styling -------------------------------------- **/
.sect-partner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 3rem 0;
    padding: 2rem;
}
.partner-container {
    width: 100%;
    height: 30rem;
    display: flex;
    position: relative;
    align-items: center;
}
.txt-cont {
    position: relative;
    width: 35%;
    height: 30%;
    background-color: #FDE12D;
    border-top: 3px solid black;
    border-left: 3px solid black;
}
.partner-txt {
    position: absolute;
    width: 40rem;
    top: 50%;
    left: 40%;
    font-size: 3rem;
}
.partner-logo {
    position: absolute;
    right: 0;
}
.partner-logo img {
    width: 7rem;
    height: 7rem;
}
.logo-1 {
    top: 6rem;
    right: 42rem;
}
.logo-2 {
    top: 15rem;
    right: 30rem;
}
.logo-3 {
    top: 15rem;
    right: 15rem;
}

.logo-4 {
    top: 6rem;
    right: 3rem;
}

/** -------------------------------------- FOOTER - styling -------------------------------------- **/
.sect-footer {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    border-top: 1px solid;
    background-color: #DDDDDD;
}
.footer-content {
    display: flex;
    max-width: 100%;
    padding: 2rem;
}
.footer-content h1 {
    font-size: 2rem;
}
.footer-content div {
    padding: 5px;
}
.footer-desc {
    width: 33%;
    margin-right: 1.5rem;
    padding-right: 0.5rem;
    border-right: 1px solid;
}
.footer-title h1 {
    font-size: 2rem;
}
.home-link .comm {
    color: black;
}
.footer-desc p {
    margin: 1rem 0;
    font-size: 1rem;
}
.desc-contact div {
    margin: 0.5rem 0;
}

.quick {
    width: 30%;
    margin-right: 1rem;
    padding-right: 0.5rem;
    border-right: 1px solid;
}
.quick-list {
    list-style-type: square;
    list-style-position: inside;
}
.quick-list li {
    margin: 0.5rem 0;
}
.quick-links {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

.newsletter {
    width: 30%;
    padding-right: 0.5rem;
}
.desc-sub {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}
.desc-inp {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.desc-inp input {
    font-size: 1.5rem;
    margin: 1rem 0;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-radius: 13px;
}
.desc-sub button {
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 13px;
    background-color: #CC001B;
}

.copyright {
    max-width: 100%;
    padding: 0 2rem;
}
.copyright-cont {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    border-top: 1px solid;
}